h1{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.special{
color: rgba(0, 0, 0, 0.852);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


body{
background-image: url(imagenes/imagenn\ de\ fondo.jpg);  
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
}
.color{
    color: rgb(58, 7, 75);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px;border-style: solid;border-color:black;
}
.letra{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



